extends base.pug
  
block content 
  div.loginpagetitle
    h2 New here, or coming back? We can't know until you log in.
  div.login-main-container 
    div.auth-container
      div.signup-container
        h2 Create an Account!
        form(action='/formsubmit' method='POST')
          div.form-group
            label.label chosen name
            input(name='name' type='text')
          div.form-group
            label.label email
            input(name='email' type='text')
          div.form-group
            label.label password
            input(name='password' type='password')
          button#signupbutton(type='submit') Sign Up
      div.login-container
        h2 Log In!
        form(action='/login' method='POST')
          div.form-group
            label.label email
            input(name='email' type='text' placeholder='Email' id='loginemail')
          div.form-group
            label.label password
            input(name='password' type='password' placeholder='password' id='loginpassword')
          button#loginbutton(type='submit') Log In
