extends base.pug

block content
  div.index-main-container 
    h2 Here is your set!
      div.card-container
        each val in finalCards
          div.card
            div.card-name= val.name
            div= val.game
            div= val.cost
    div.save-options
      form(action='/game' method='POST')
        button.save-set Save Set
    
