extends base

block content 
  div.index-main-container 
    h2 Get started by choosing the games you want to use to build your set.
    form(action='/' method='POST')
      input(type='checkbox' class='checkbox' id='alchemy' name='game' value='alchemy')
      label(for='alchemy') Alchemy
      input(type='checkbox' class='checkbox' id='adventures' name='game' value='adventures')
      label(for='adventures') Adventures
      input(type='checkbox' class='checkbox' id='base' name='game' value='base')
      label(for='base') Base game
      input(type='checkbox' class='checkbox' id='cornucopia' name='game' value='cornucopia')
      label(for='cornucopia') Cornucopia
      input(type='checkbox' class='checkbox' id='dark_ages' name='game' value='dark_ages')
      label(for='dark_ages') Dark Ages
      input(type='checkbox' class='checkbox' id='empires' name='game' value='empires')
      label(for='empires') Empires
      br
      input(type='checkbox' class='checkbox' id='guilds' name='game' value='guilds')
      label(for='guilds') Guilds
      input(type='checkbox' class='checkbox' id='hinterlands' name='game' value='hinterlands')
      label(for='hinterlands') Hinterlands
      input(type='checkbox' class='checkbox' id='intrigue' name='game' value='intrigue')
      label(for='intrigue') Intrigue
      input(type='checkbox' class='checkbox' id='prosperity' name='game' value='prosperity')
      label(for='prosperity') Prosperity
      input(type='checkbox' class='checkbox' id='seaside' name='game' value='seaside')
      label(for='seaside') Seaside
      br
      button#setButton(type='submit') Get Your Game!
      
    
    
    
    
  
      
