div.login-container
  h2 Log In!
  form(action='/login' method='POST')
    div.form-group
      label.label email
      input(name='email' type='text' placeholder='Email' id='loginemail')
    div.form-group
      label.label password
      input(name='password' type='password' placeholder='password' id='loginpassword')
    button#loginbutton(type='submit') Log In
