extends base.pug

block content
  h2.history-header Hi, #{name}! Here are the games you've built.
  div.search-results
    ul
      each val in sets
        li
          span.set-title= val.set
          span.set-display= val.cards
