extends base.pug

block content
  h2.history-header Hi, #{name}! Here are the games you've built.
  div.search-results
    each set in sets
      div.set-row
        span.set-title #{set.set}
          each val in set.cards
            span.set-display #{val}
